<a href="https://colab.research.google.com/github/Indongspace/mulcamp34/blob/main/colab%EA%B3%BCdrive%EC%97%B0%EB%8F%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## google colab 과 google drive 연동

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 데이터 불러오기

In [15]:
import pandas as pd
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/멀티캠퍼스 34/playground-series-s4e1/'
train = pd.read_csv(DATA_PATH + 'train.csv')
train

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,165029,15667085,Meng,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,165030,15665521,Okechukwu,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,165031,15664752,Hsia,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,165032,15689614,Hsiung,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,165033,15732798,Ulyanov,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79,1

- 파일 내보내기
- 컬럼 임의로 몇 개 선정 후, playground에 csv로 내보내기
 + 파일명 : result.csv

In [16]:
result = train.loc[:,['id','Age']]
result.to_csv("result.csv",index=False)