<a href="https://colab.research.google.com/github/Indongspace/mulcamp34/blob/main/pandas_240108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 통합하기
- 데이터 조인

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'Class1' : [95,92,98,100],
    'Class2' : [91,93,97,99]
})

df2 = pd.DataFrame({
    'Class1' : [87,89],
    'Class2' : [85,90]
})

In [ ]:
import pandas as pd
pd.__version__

'2.1.4'

In [ ]:
# df1.append(df2) append는 pandas 버전 1.4.0 이후로 지원 안함, concat()을 사용하거나
# 버전을 다운그레이드 하거나

In [ ]:
result = pd.concat([df1,df2])
result

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99
0      87      85
1      89      90

In [ ]:
df3 = pd.DataFrame({
    'Class1' : [96,83]
})

# pd.concat([result,df3]) 인덱스가 뒤죽박죽
pd.concat([result,df3],ignore_index=True)

   Class1  Class2
0      95    91.0
1      92    93.0
2      98    97.0
3     100    99.0
4      87    85.0
5      89    90.0
6      96     NaN
7      83     NaN

## 가로방향으로 통합하기
- pd.concat() : 세로 방향으로 통합하기

In [ ]:
df4 = pd.DataFrame({
    'Class3' : [93,91,95,98]
})

df1.join(df4)

   Class1  Class2  Class3
0      95      91      93
1      92      93      91
2      98      97      95
3     100      99      98

In [ ]:
index_label = ['a','b','c','d']
df1a = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]}, index= index_label)
df4a = pd.DataFrame({'Class3': [93, 91, 95, 98]}, index=index_label)

df1a.join(df4a)

   Class1  Class2  Class3
a      95      91      93
b      92      93      91
c      98      97      95
d     100      99      98

In [ ]:
index_label = ['a','b','c','d']
df1a = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]})
df4a = pd.DataFrame({'Class3': [93, 91, 95, 98]}, index=index_label)

df1a.join(df4a)

   Class1  Class2  Class3
0      95      91     NaN
1      92      93     NaN
2      98      97     NaN
3     100      99     NaN

In [ ]:
df4a.index == df1a.index # index 가 일치했는지 확인 후 join 할 것

array([False, False, False, False])

In [ ]:
df_A_B = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품A': [100, 150, 200, 130],
                       '제품B': [90, 110, 140, 170]})

df_C_D = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품C': [112, 141, 203, 134],
                       '제품D': [90, 110, 140, 170]})
df_A_B.merge(df_C_D)

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [ ]:
df_A_B.join(df_C_D) # columns overlap but no suffix specified: Index(['판매월'], dtype='object')

ValueError: columns overlap but no suffix specified: Index(['판매월'], dtype='object')

In [ ]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]})
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})

In [ ]:
# p.274
df_left.merge(df_right,how='left',on='key')

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN

In [ ]:
df_left.merge(df_right,how='right',on='key')

  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6

In [ ]:
df_left.merge(df_right,how='outer',on='key')

  key  left  right
0   A   1.0    4.0
1   B   2.0    5.0
2   C   3.0    NaN
3   D   NaN    6.0

In [ ]:
df_left.merge(df_right,how='inner',on='key')
# 테이블 조인 전에 ERD 설계부터 한다! (분석 목적에 따라서)

  key  left  right
0   A     1      4
1   B     2      5

# 학생 시험성적 엑셀파일을 불러오기

In [ ]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (2.1.4)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 187.9 kB/s eta 0:00:02
     ------------- ----------------------- 92.2/250.0 kB 476.3 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (from pandas) (2023.4)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\songinseung\desktop\dsproject\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [ ]:
import pandas as pd

excel_file_path = "data/data/학생시험성적.xlsx"
df = pd.read_excel(excel_file_path)
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [ ]:
pd.read_csv("data/data/sea_rain1_from_notepad.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbf in position 0: invalid start byte

In [ ]:
pd.read_csv("data/data/sea_rain1_from_notepad.csv",encoding="cp949")

     연도       동해       남해       서해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

In [ ]:
df = pd.read_excel(excel_file_path,sheet_name="2차시험",index_col='학생')
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
   ---------------------------------------- 0.0/154.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/154.8 kB ? eta -:--:--
   -- ------------------------------------- 10.2/154.8 kB ? eta -:--:--
   -- ------------------------------------- 10.2/154.8 kB ? eta -:--:--
   ------- ------------------------------- 30.7/154.8 kB 262.6 kB/s eta 0:00:01
   --------------- ----------------------- 61.4/154.8 kB 365.7 kB/s eta 0:00:01
   -------------------------------------  153.6/154.8 kB 833.5 kB/s eta 0:00:01
   -------------------------------------- 154.8/154.8 kB 711.9 kB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
df1 = pd.read_csv("data/data/sea_rain1_from_notepad.csv",encoding="cp949")
df1.to_excel("data/data/output.xlsx")

# p.350

In [ ]:
#excel_writer = pd.ExcelWriter("data/data/학생시험성적2.xlsx",engine='xlsxwriter')
#df1.to_excel(excel_writer,index=False)
#excel_writer.save()

## 엑셀 자동화
- 정의 : 엑셀 시트 보고서를 제작해서 매일매일 보고를 해야할 때 엑셀 자동화
  + 엑셀 cell의 생상을 변경한다 등, VBA 코드도 추가
  + RPA 과정
  + openpyxl, xlsxwriter 두 개 라이브러리 사용