<a href="https://colab.research.google.com/github/Indongspace/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

사칙연산

In [8]:
print(1.3 - 1.1)
print(1.5 * 3.2)
print(5.2 / 2.5)

0.19999999999999996
4.800000000000001
2.08

### 연산규칙
- (1) 괄호 안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정함수를 조건만 맞춰주면 동

함수의 종류
- 내장(built-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
+ print(), type()
+ documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

- 라이브러리에서 제공하는 함수
+ R : 패키지, Python : 라이브러리
+ 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치 필요
 - 통계분석 : 통계분석과 관련된 라이브러리를 별도 설치 필요
 - 시각화 : 시작화와 관련된 라이브러리 설치
 - 게임개발 : 게임개발과 관련된 라이브러리 설치
 - 수치연산 주요라이브러리 : numpy, scipy

In [10]:
print(type(3.5))

<class 'float'>

- 파이썬 객체지향 언어입니다.

## 거듭제곱과 나머지
- (power)
 + A는 밑, n은 지수

In [14]:
2**5

32

- 나머지 구하는 방법

In [16]:
print(13%5)
print(13//5)

3
2

- 교재 표 3-1(p.34), 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
 - 빛의 속도 m/s 3x10^8

In [17]:
print(3e8)

300000000.0

In [19]:
print(3e-4)

0.0003

## 진수 표현과 변환
- 컴퓨터 프로그래밍 2진법
- 8진법 0~7까지의 숫자
- 16진법 0~9, a,b,c,d,e
- 메서드
 + bin() 10-> 2진수, oct() 10->8진수, hex() 10->16진수

## 논리연산 및 비교연산 (매우 중요)
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

### 논리 연산자
-and or not
# True or Flase가 나오도록 조건식을 만들어야 함

### 비교연산자 + 논리연산자

In [25]:
print(1>0 and -2<0) #비교연산자 1순위 논리연산자 2순위
print(((3<0) and (-5>0)) and (1>5))

True
False

## 변수 (p.42) : Variable, 데이터

### 변수명 짓기 규칙
- snake, camel

In [26]:
# snake
num_a=100
num_b=110

# camel
myStudent="evan"
mySchool="gachon"

### 예약어는 변수명으로 이용할 수 없음
### 변수의 반대어 : 상수
- 한번 지정 후, 변하지 않는 고정 값

In [28]:
num1="100"
num2="200"
Num1=int(num1)
Num2=int(num2)
print(Num1+Num2)

300

## 문자열
##리스트(List)
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)
- 다중의 데이터를 묶는다

### 인덱싱(Indexing)
- 리스트에서 특정한 데이터를 추출

In [32]:
greeting = 'Hello, Python'
print(greeting[-6])

P

### 리스트 수정, 삭제

In [34]:
myNum=[1]
myNum*3

[1]

In [39]:
myFriend=['kin','lisa','fim','lee']
myFriend[2][0]

'f'

### 슬라이싱
- 문자열, 리스트 그 외 파이썬 거의 대부분 자료형 원리 동일 적용

In [47]:
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data[:-5])
greeting = 'Hello, Python'
greeting[:5]
print(list_data[::3])

[0, 1, 2, 3, 4]
[0, 3, 6, 9]

## 튜플(Tuple)
- 튜플은 리스트와 유사하다

In [50]:
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

### 유사한 것
- 인덱싱과 슬라이싱이 동일

In [54]:
tuple_data = (0,1,2,3,4,5,6,7,8,9)
tuple_data[:4]
tuple_data[4:-3]
tuple_data[::2]

(0, 2, 4, 6, 8)

### 차이점
- 튜플은 수정, 삭제가 안됨

In [58]:
l_data = [0,1,2,3]
t_data = (0,1,2,3)

l_data[3] = 30
del l_data[3]
del t_data[3]
t_data

TypeError: ignored