<a href="https://colab.research.google.com/github/Indongspace/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- Dictionary
- 구성 : key-value, keyword(=key), 결괏값(=value)
 + 문자열, 리스트, tuple : 데이터 조회 시, 인덱싱 또는 슬라이싱
 + 딕셔너리에서 값을 조회하는 방법은 key 값을 통해서 값을 조회

In [ ]:
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}

country_capital

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
country_capital["대한민국"]

'서울'

In [ ]:
data = {1:"버스", 3:"비행기"}
data

{1: '버스', 3: '비행기'}

In [ ]:
data[1]

'버스'

In [ ]:
data2 = {'list1' : [1,2,3],
         'list2' : [4,5,6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [ ]:
data3 = {'list1' : [1,2,3],
         'list2' : [4,5,6],
         1 : '테스트',2 : 100}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석 : 엑셀 테이블
 + 1억개, 데이터 가공 (최소 1-2시간 가공작업)
 + 임시테이블

- HTML,CSS,인터넷 자료형 중 JSON 데이터 포맷
- JSON 데이터 포맷 ==> 딕셔너리와 동일
 + API 데이터 크롤링, 기본 자료형(JSON) ==> 딕셔너리 변환, 변환 후 데이터 가공

In [ ]:
import pandas as pd

#이 데이터가 있음
data = {
    'A' : [1,2,3],
    'B' : [4,5,6]
}
df = pd.DataFrame(data)
# 에디터 가공 연습 ==> 1억개 데이터 적용
df

   A  B
0  1  4
1  2  5
2  3  6

### 딕셔너리 다루기
- 딕셔너리의 value 값 수정하는 방법

In [ ]:
country_capital['대한민국']='부산'
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
del country_capital['영국']
country_capital['프랑스'] = None
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴', '일본': '도쿄'}

In [ ]:
country_capital['일본'] = '도쿄'
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴', '일본': '도쿄'}

### 딕셔너리 메서드

In [ ]:
country_capital = {'대한민국': '부산',
 '프랑스': None,
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
result = list(country_capital.keys())
result.append('독일')
result

['대한민국', '프랑스', '미국', '일본', '중국', '필리핀', '호주', '독일']

In [ ]:
print(type(country_capital)) # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
print(type(country_capital.keys()))
print(country_capital.keys())
print(country_capital.values())
print(country_capital.items())
print(type(country_capital.items()))

<class 'dict'>
<class 'dict_keys'>
dict_keys(['대한민국', '프랑스', '미국', '일본'])
dict_values(['부산', None, '워싱턴', '도쿄'])
dict_items([('대한민국', '부산'), ('프랑스', None), ('미국', '워싱턴'), ('일본', '도쿄')])
<class 'dict_items'>

In [ ]:
list(country_capital.keys())

#print(type(country_capital.keys()))

['대한민국', '프랑스', '미국', '일본']

In [ ]:
new_df = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}
country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '프랑스': None,
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
country_capital.clear()
country_capital

{}

# if 조건문
- 만약 조건이 True라면 ~를 해라
- 참과 거짓을 만드는 것이 포인트

In [ ]:
x = int(input("점수를 입력하세요 "))
if x >= 90:
  print("합격")
elif x >= 80:
  print("부분합격, 면접 필요")
else:
  print("불합격")

점수를 입력하세요 88
부분합격, 면접 필요

- 조건문을 문장으로 먼저 만드는 훈련을 하는 것이 중요함

# 문제
- 학생 성적에 따라서 등급을 정함. 점수는 0에서 100점
- A,B,C,D,F

In [ ]:
x = float(input("점수를 입력하세요 (0~100) "))
if x >= 101 or x < 0:
  print("오타입니다. 다시 입력해 주세요")

if 90 <= x <= 100:
  print("A")
elif 80 <= x < 90:
  print("B")
elif 70 <= x < 80:
  print("C")
elif 60 <= x < 70:
  print("D")
elif 0 <= x <= 59:
  print("F")

점수를 입력하세요 (0~100) 100
A

### 중첩 조건문
### if 조건문 내부에 또다른 조건문 생성

In [ ]:
x = int(input("점수를 입력하세요..."))

if x >= 90:
  if x >= 100:
     {print("장학금 대상자")}
  print("합격")

else:
  print("불합격")

점수를 입력하세요...600
장학금 대상자
합격

# 반복문
- for-loop, while

## for-loop 특징
- 반복 범위가 주어짐

In [ ]:
for i in range(3):
 print(f'{i+1}번째 Hello Python')

1번째 Hello Python
2번째 Hello Python
3번째 Hello Python

- 반복 범위 지정 시, 시퀀스 자료형도 사용 가능
 + 오늘/내일 블로그 주제 : 시퀀스 자료형에 대해서 정리
 + 대표적인 것 : 리스트, 문자열

In [ ]:
nums = [1,2,3,4,5]
for i in nums:
  print(i)

1
2
3
4
5

In [ ]:
#strings = "Hello"
#for str in strings:
#  print(str)
tuples = (1,2,3,4,5)
for i in tuples:
  print(i)

1
2
3
4
5

In [ ]:
country_capital.items()

dict_items([('대한민국', '부산'), ('프랑스', None), ('미국', '워싱턴'), ('일본', '도쿄'), ('중국', '베이징'), ('필리핀', '마닐라'), ('호주', '캔버라')])

In [ ]:
country_capital["대한민국"]

'부산'

In [ ]:
x = '대한민국'
country_capital[x]

'부산'

In [ ]:
for i in country_capital:
  print(country_capital[i])
  #print(f'{i}의 수도는 {country_capital[i]}이다.')

부산
None
워싱턴
도쿄
베이징
마닐라
캔버라

In [ ]:
# 중첩 for 문
# 반복문 내 또 다른 반복문
x_list = ['x1','x2']
y_list = ['y1','y2']

for x in x_list:
  for y in y_list:
    print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

## 구구단

In [165]:
#x = 2
#y = 1
#f'{x} * {y} = {x*y}'
x_list = [1,2,3,4,5,6,7,8,9]
y_list = [1,2,3,4,5,6,7,8,9]
#for x in x_list:
  #for y in y_list:
    #print(f'{x} * {y} = {x * y}')

In [166]:
for x in range(1,10):
  for y in range(1,10):
    print(f'{x} * {y} = {x * y}')
  print("-----")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
-----
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-----
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-----
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-----
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-----
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-----
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-----
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-----
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-----

In [171]:
names = ["A","B","C"]
ages = [10,20,30]

for name, age in zip(names,ages):
  print(name,age)

A 10
B 20
C 30

In [173]:
names = ["A","B","C"]
for idx, name in enumerate(names):
  print(idx,name)

0 A
1 B
2 C

## while 특징
- for-loop 특징 : 항상 반복문의 범위를 지정한다.
 + 몇번 반복문을 수행할지 숫자로 컨트롤 가능
- while 특징 : 조건문이 False가 될 때까지 반복문을 수행, 조건문이 True이면 반복문은 무한 수행

In [169]:
i = 1
n = 3
while i <= n: # 특정 조건문을 False가 되도록 코드를 작성하는 것이 포인트
  print(f'현재 {i}번')
  i = i+1

현재 1번
현재 2번
현재 3번

## for-loop, while 비교
- only 데이터분석
 + (for-loop 집중 공부)
 + 행과 열은 거의 고정
 + 범위가 주어져 있음
- 개발자
 + (for-loop,while 둘 다 익힐 것)

## break 문
- 특정 시점에 반복문 강제 종료

In [175]:
i = 1

while True:
  print(f'현재 {i}번')
  if i >= 5:
    break
  i = i + 1

현재 1번
현재 2번
현재 3번
현재 4번
현재 5번

In [177]:
for i in range(10):
  print(f'현재 {i}번')
  if i > 5:
    print("if 조건문 만족")
    break

현재 0번
현재 1번
현재 2번
현재 3번
현재 4번
현재 5번
현재 6번
if 조건문 만족

## 문자열과 for-loop

In [179]:
texts = 'Python'
for text in texts:
  print(text)
  if text == "t":
    break

P
y
t

## 리스트 컴프리헨션
- for loop 및 for loop if 조건문 한줄로 처리

In [180]:
# pythonic 코드
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  result.append(i**2)

result

[1, 4, 9, 16, 25]

In [182]:
numbers = [1,2,3,4,5]
result2 = [i**2 for i in numbers]
result2

[1, 4, 9, 16, 25]

### 조건문 추가

In [183]:
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  if i >= 3:
    result.append(i**2)

result

[9, 16, 25]

In [184]:
numbers = [1,2,3,4,5]
result2 = [i**2 for i in numbers if i >= 3]
result2

[9, 16, 25]

- 시각화 라이브러리
 + matplotlib, plotly 옵션 설정 할 때, 자주 사용됨

# 파이썬 문서화 (Docstring)
- 코딩을 한다. 프로그래밍을 한다.
- 누군가에게 관련 지식을 전달하는 것과 동일
 + 혼자 코딩하고, 혼자만 알 수 있는 언어로 코딩을 했다. ==> 협업 불가능
 + 취업, 퇴사, 이직 ==> 업무 인수인계를 해야 함
 + 코딩한 것에 문서화를 하지 못하면, 업무 인수인계 자체가 불가능

- 프로젝트 진행
 + 3주 / 4주 ==> 마지막주에는
   - 2~3명, ppt 보고서 작성
   - 남은 인원, Docstring을 사용해서, 문서화
 + help() 명령어를 사용해서 불러오기 할 수 있음 (예, read_csv()문서처럼 출력이 가능)

In [187]:
# help(print)
# import math
# help(math)

In [190]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result = n**2
  return result

#print(myPower(3))
print(myPower.__doc__)
print(print.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [192]:
def read_csv(sep, header):
  '''
  Returns the sum of ~~~ .

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header (int) : Row number(s) containing column labels.

    Returns:
      c (int) : sum of ~~
  '''

  c = sep + header
  return c

print(read_csv.__doc__)

  Returns the sum of ~~~ .

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header (int) : Row number(s) containing column labels.

    Returns:
      c (int) : sum of ~~

- 코드 문서화를 좋아한다 ==> 좋은 회사 갈 확률 높아짐
= swagger 같은 API 명세서가 docstring일까요?
  + 클라이언트용 명세서(공공기관, 한글 또는 워드 작업)

## 클래스 상속
- 부모 > 자식

In [208]:
class Animal:
  # Attribute 정의(=클래스 변수)
  name = ""
  # 공통함수
  def eat(self):
    print("나는 먹을 수 있음")

class Dog(Animal): # 클래스 상속을 했다. 동물 ==> 강아지로 기본 기능을 제공함
  # 새로운 메서드
  def dance(self):
    print(f"{self.name} 강아지가 춤을 춘다")

In [209]:
# 객체 생성
a = Dog()
a.name = "코코"
a.eat()
a.dance()

나는 먹을 수 있음
코코 강아지가 춤을 춘다

In [205]:
b = Animal()
b.name = "흰둥이"
b.eat()
# b.dance()

나는 먹을 수 있음

## 클래스 Docstring

In [211]:
class Person:
  """
  자기 소개하는 Person 클래스.

  '''
  Attributes
  -------------
  name : str 사람의 이름을 의미
  age : int 사람의 나이를 의미
  grade : int 사람의 현재 학년을 의미

  Methods
  -------------
  info(comment=""): 사람의 개인정보를 출력

  """

  def __init__(self,name,age,grade):

    self.name = name
    self.age = age
    self.grade = grade

  def info(self,comment = ""):
    print(f'''내 이름은 {self.name}. 내 나이는 {self.age}.
    현재 학년은 {self.grade}. {comment}''')

In [213]:
print(Person.__doc__)
help(Person)

  자기 소개하는 Person 클래스.

  '''
  Attributes
  -------------
  name : str 사람의 이름을 의미
  age : int 사람의 나이를 의미
  grade : int 사람의 현재 학년을 의미

  Methods
  -------------
  info(comment=""): 사람의 개인정보를 출력


Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기 소개하는 Person 클래스.
 |
 |  '''
 |  Attributes
 |  -------------
 |  name : str 사람의 이름을 의미
 |  age : int 사람의 나이를 의미
 |  grade : int 사람의 현재 학년을 의미
 |
 |  Methods
 |  -------------
 |  info(comment=""): 사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {}